<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563636764754-69go7jmongscsh1hv8nn3mphg14ko91k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563636764754-69go7jmongscsh1hv8nn3mphg14ko91k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>563636764754-cjqmeq3jnse690scajc53ckbv13pko02.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQBDWBgln0hKEnRmNYgzkzi1ZI4lCGt2M</string>
	<key>GCM_SENDER_ID</key>
	<string>563636764754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futurastic.Magnus</string>
	<key>PROJECT_ID</key>
	<string>magnus-338513</string>
	<key>STORAGE_BUCKET</key>
	<string>magnus-338513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563636764754:ios:fccab14c67164e15c85f8b</string>
	<key>DATABASE_URL</key>
	<string>https://magnus-338513-default-rtdb.europe-west1.firebasedatabase.app</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6470338276121414~5546686598</string>
</dict>
</plist>